.card{
    background-color: white;
    padding: 10px;
}
#display{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    background-color: rgb(15, 15, 15);
}
img{
    width: 200px;
    height: 200px;
    
}
p{
    font-size: 12px;
}
h3{
    font-size: 20px;
}